<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="width" value ="10"/>
    <add key ="height" value ="10"/>
    <add key ="countStones" value ="2"/>
    <add key ="countHerbs" value ="2"/>
    <add key ="countFishHerbs" value ="2"/>
    <add key ="countFishPredators" value ="2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>